header {
    nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 0;
        display: flex;
        margin: 0 40px;
        img {
            width: 160px;
            height: 35px;
            @include media($until: tablet) {
                width: 124px;
                height: 25px;
            }
        }
        .nav-links {
            margin-left: 1250px;
            display: inline-block;
            @include media($from: wide) {
                margin-left: 850px;
            }
            @include media($until: tablet) {
                margin-left: 150px;
                img {
                    width: 30px;
                    height: 23px;
                }
            }
            a {
                color: var(--White);
                font-family: 'Barlow', sans-serif;
                text-decoration: none;
                font-size: 18px;
                margin-right: 25px;
            }
            button {
                border: none;
                border-radius: 20px;
                padding: 15px 25px;
                font-family: 'Fraunces', serif;
                font-weight: 900;
            }
            button:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.377);
                color: var(--White);
            }
        }
    }
    .nav-mobile-shape {
        @include media($until: tablet) {
            z-index: 6;
            top: 125px;
            height: 300px;
            position: absolute;
            width: 325px;
            background-color: var(--White);
            display: flex;
            justify-content: center; 
            margin: 0 0 0 25px;
            .nav-mobile {
                display: flex;
                flex-direction: column;
                width: 150px;
                margin: 40px 0;
                a {
                    color: var(--Dark-grayish-blue);
                    font-family: 'Barlow', sans-serif;
                    text-decoration: none;
                    font-size: 18px;
                    text-align: center;
                    margin-bottom: 35px;
                }
                button {
                    border: none;
                    border-radius: 20px;
                    padding: 15px 20px;
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    background-color: var(--Yellow);
                }
            }
        }
    }
    
}

.hero-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin-top: 330px;
    @include media($from: wide) {
        margin-top: 210px;
    }
    @include media($until: tablet) {
        margin-top: 100px;
    }
    h1 {
        margin-left: 545px;
        margin-bottom: 100px;
        font-size: 70px;
        color: var(--White);
        font-family: 'Fraunces', serif;
        font-weight: 900;
        @include media($from: wide) {
            margin-left: 350px;
        }
        @include media($until: tablet) {
            margin-left: 0;
            font-size: 40px;
            width: 320px;
            padding: 30px;
            text-align: center;
            margin-bottom: 50px;
        }
        span {
            margin-left: 20px;
            @include media($until: tablet) {
                margin-left: 10px;
                display: block;
            }
        }
    }
    img {
        margin-left: 980px;
        @include media($from: wide) {
            margin-left: 750px;
        }
        @include media($until: tablet) {
            margin-left: 170px;
        }
    }
}