.clients {
    margin-top: 150px;
    margin-bottom: 150px;
    h4 {
        font-family: 'Fraunces', serif;
        font-size: 18px;
        text-align: center;
        margin-bottom: 100px;
        color: var(--Grayish-blue);
        font-weight: 800;
        span {
            margin-left: 20px;
        }
    }
    .clients-grid {
        display: grid;
        grid-template-columns: 310px 310px 310px;
        grid-row: 930px;
        justify-content: center;
        gap: 100px;
        .clients-1, .clients-2, .clients-3 {
            text-align: center;
            img {
                clip-path: ellipse(50% 50%);
                width: 20%;
                margin-bottom: 50px;
            }
            p {
                font-family: 'Barlow', sans-serif;
                color: var(--Very-dark-desaturated-blue);
                line-height: 150%;
            }
            h5 {
                margin: 50px 0 12px 0;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                color: var(--Very-dark-desaturated-blue);
            }
            h6 {
                font-family: 'Barlow', sans-serif;
                color: var(--Grayish-blue);
                font-size: 14px;
            }
        }
    }
}