/**
* SassQueries
* Manage media-queries in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.3
*/
:root {
  --Soft-red: hsla(7, 99%, 70%, 0.532);
  --Red:rgb(254, 121, 103);
  --Yellow-transparent: hsla(51, 100%, 49%, 0.532);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

@media all and (max-width: 767px) {
  .hidden-mobile-nav {
    display: none;
  }
}

.hidden-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .hidden-mobile {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .hidden {
    display: none;
  }
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  display: flex;
}
header nav img {
  margin: 0 40px;
  width: 160px;
  height: 35px;
}
@media all and (max-width: 767px) {
  header nav img {
    width: 124px;
    height: 25px;
  }
}
header nav .nav-links {
  margin-left: 900px;
  display: inline-block;
}
@media all and (min-width: 1200px) {
  header nav .nav-links {
    margin-left: 850px;
  }
}
@media all and (max-width: 767px) {
  header nav .nav-links {
    margin-left: 150px;
  }
  header nav .nav-links img {
    width: 30px;
    height: 23px;
  }
}
header nav .nav-links a {
  color: var(--White);
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
header nav .nav-links button {
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
header nav .nav-links button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.377);
  color: var(--White);
}
@media all and (max-width: 767px) {
  header .nav-mobile-shape {
    z-index: 6;
    top: 125px;
    height: 300px;
    position: absolute;
    width: 325px;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    margin: 0 0 0 25px;
  }
  header .nav-mobile-shape .nav-mobile {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 40px 0;
  }
  header .nav-mobile-shape .nav-mobile a {
    color: var(--Dark-grayish-blue);
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 35px;
  }
  header .nav-mobile-shape .nav-mobile button {
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-family: "Fraunces", serif;
    font-weight: 900;
    background-color: var(--Yellow);
  }
}

.hero-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 330px;
}
@media all and (min-width: 1200px) {
  .hero-section {
    margin-top: 210px;
  }
}
@media all and (max-width: 767px) {
  .hero-section {
    margin-top: 100px;
  }
}
.hero-section h1 {
  margin-left: 545px;
  margin-bottom: 100px;
  font-size: 70px;
  color: var(--White);
  font-family: "Fraunces", serif;
  font-weight: 900;
}
@media all and (min-width: 1200px) {
  .hero-section h1 {
    margin-left: 350px;
  }
}
@media all and (max-width: 767px) {
  .hero-section h1 {
    margin-left: 0;
    font-size: 40px;
    width: 320px;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
}
.hero-section h1 span {
  margin-left: 20px;
}
@media all and (max-width: 767px) {
  .hero-section h1 span {
    margin-left: 10px;
    display: block;
  }
}
.hero-section img {
  margin-left: 980px;
}
@media all and (min-width: 1200px) {
  .hero-section img {
    margin-left: 750px;
  }
}
@media all and (max-width: 767px) {
  .hero-section img {
    margin-left: 170px;
  }
}

.content-main {
  display: grid;
  grid-template-columns: 1002px 900px;
}
@media all and (min-width: 1200px) {
  .content-main {
    grid-template-columns: 760px 760px;
  }
}
@media all and (max-width: 767px) {
  .content-main {
    display: block;
  }
}
.content-main img {
  height: 100%;
}
.content-main h2 {
  font-family: "Fraunces", serif;
  font-size: 50px;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}
@media all and (max-width: 767px) {
  .content-main h2 {
    font-size: 35px;
  }
}
.content-main p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: var(--Dark-grayish-blue);
}
@media all and (max-width: 767px) {
  .content-main p {
    font-size: 16px;
  }
}
.content-main a {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}
.content-main .yellow {
  text-decoration: underline var(--Yellow-transparent);
  text-decoration-thickness: 10px;
  text-underline-offset: 0px;
}
.content-main .yellow:hover {
  text-decoration: underline var(--Yellow);
  text-decoration-thickness: 10px;
  text-underline-offset: 0px;
}
.content-main .red {
  text-decoration: underline var(--Soft-red);
  text-decoration-thickness: 10px;
  text-underline-offset: -0.45px;
}
.content-main .red:hover {
  text-decoration: underline var(--Red);
  text-decoration-thickness: 10px;
  text-underline-offset: -0.45px;
}
.content-main h3 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}
.content-main .brand {
  padding: 200px;
}
@media all and (min-width: 1200px) {
  .content-main .brand {
    padding: 100px 50px 0 100px;
  }
}
@media all and (max-width: 767px) {
  .content-main .brand {
    padding: 60px 20px;
    text-align: center;
  }
}
.content-main .brand h2 {
  margin-bottom: 30px;
  width: 450px;
}
@media all and (max-width: 767px) {
  .content-main .brand h2 {
    width: 350px;
  }
}
.content-main .brand p {
  width: 450px;
  line-height: 150%;
  margin-bottom: 50px;
}
@media all and (max-width: 767px) {
  .content-main .brand p {
    width: 350px;
  }
}
.content-main .audience {
  padding: 250px;
}
@media all and (min-width: 1200px) {
  .content-main .audience {
    padding: 150px 50px 0 150px;
  }
}
@media all and (max-width: 767px) {
  .content-main .audience {
    padding: 60px 20px;
    text-align: center;
  }
}
.content-main .audience h2 {
  margin-bottom: 30px;
  width: 550px;
}
@media all and (max-width: 767px) {
  .content-main .audience h2 {
    width: 350px;
  }
}
.content-main .audience p {
  width: 450px;
  line-height: 150%;
  margin-bottom: 50px;
}
@media all and (max-width: 767px) {
  .content-main .audience p {
    width: 350px;
  }
}
.content-main .div-text-graphic {
  position: absolute;
  top: 3200px;
  left: 250px;
  width: 500px;
  text-align: center;
}
@media all and (min-width: 1200px) {
  .content-main .div-text-graphic {
    top: 2525px;
    left: 120px;
  }
}
@media all and (max-width: 767px) {
  .content-main .div-text-graphic {
    top: 2300px;
    left: 15px;
    width: 350px;
  }
}
.content-main .div-text-graphic h3 {
  color: var(--Dark-desaturated-cyan-graphic-design-text);
  margin-bottom: 50px;
}
.content-main .div-text-graphic p {
  color: var(--Dark-desaturated-cyan-graphic-design-text);
  line-height: 150%;
}
.content-main .div-text-photo {
  color: var(--Dark-blue-photography-text);
  position: absolute;
  top: 3200px;
  left: 1250px;
  width: 400px;
  text-align: center;
}
@media all and (min-width: 1200px) {
  .content-main .div-text-photo {
    top: 2500px;
    left: 950px;
  }
}
@media all and (max-width: 767px) {
  .content-main .div-text-photo {
    width: 350px;
    left: 15px;
    top: 2900px;
  }
}
.content-main .div-text-photo h3 {
  color: var(--Dark-blue-photography-text);
  margin-bottom: 50px;
}
.content-main .div-text-photo p {
  color: var(--Dark-blue-photography-text);
  line-height: 150%;
}

.gallery {
  display: flex;
}
@media all and (max-width: 767px) {
  .gallery {
    display: grid;
    grid-template-columns: 187px 187px;
  }
}
.gallery img {
  width: 25%;
}
@media all and (max-width: 767px) {
  .gallery img {
    width: 100%;
  }
}

.clients {
  margin-top: 150px;
  margin-bottom: 150px;
}
@media all and (max-width: 767px) {
  .clients {
    margin: 75px 0;
  }
}
.clients h4 {
  font-family: "Fraunces", serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 100px;
  color: var(--Grayish-blue);
  font-weight: 800;
}
.clients h4 span {
  margin-left: 20px;
}
.clients .clients-grid {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-row: 930px;
  justify-content: center;
  gap: 100px;
}
@media all and (max-width: 767px) {
  .clients .clients-grid {
    display: block;
  }
}
.clients .clients-grid .clients-1, .clients .clients-grid .clients-2, .clients .clients-grid .clients-3 {
  text-align: center;
}
@media all and (max-width: 767px) {
  .clients .clients-grid .clients-1, .clients .clients-grid .clients-2, .clients .clients-grid .clients-3 {
    padding: 0 20px;
  }
}
.clients .clients-grid .clients-1 img, .clients .clients-grid .clients-2 img, .clients .clients-grid .clients-3 img {
  clip-path: ellipse(50% 50%);
  width: 20%;
  margin-bottom: 50px;
}
.clients .clients-grid .clients-1 p, .clients .clients-grid .clients-2 p, .clients .clients-grid .clients-3 p {
  font-family: "Barlow", sans-serif;
  color: var(--Very-dark-desaturated-blue);
  line-height: 150%;
}
.clients .clients-grid .clients-1 h5, .clients .clients-grid .clients-2 h5, .clients .clients-grid .clients-3 h5 {
  margin: 50px 0 12px 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}
.clients .clients-grid .clients-1 h6, .clients .clients-grid .clients-2 h6, .clients .clients-grid .clients-3 h6 {
  font-family: "Barlow", sans-serif;
  color: var(--Grayish-blue);
  font-size: 14px;
}
@media all and (max-width: 767px) {
  .clients .clients-grid .clients-1 h6, .clients .clients-grid .clients-2 h6, .clients .clients-grid .clients-3 h6 {
    margin-bottom: 75px;
  }
}

footer {
  height: 250px;
  padding-top: 75px;
  text-align: center;
  background-color: hsl(168, 63%, 72%);
}
footer svg {
  margin-bottom: 35px;
}
footer a {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 0 25px;
  color: hsl(168, 34%, 35%);
}
footer a:hover {
  color: var(--White);
}
footer .sns {
  margin-top: 75px;
}
footer .sns svg {
  margin: 0 15px;
}
footer .sns path:hover {
  fill: var(--White);
}

/*# sourceMappingURL=style.css.map */
